<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloWorld" class="pl.coderslab.beans.HelloWorld">
        <!--    <constructor-arg name="message" value="Witaj Spring"/>-->
        <property name="message" value="Hello Spring from setter"/>
    </bean>

    <bean id="email" class="pl.coderslab.beans.EmailService"/>

<!--    <bean id="emailService" class="pl.coderslab.beans.EmailService"/>-->
    <bean id="messageService" class="pl.coderslab.beans.EmailService">
<!--        <property name="message" value="Message from xml"/>-->
    </bean>
    <bean id="messageSender" class="pl.coderslab.beans.MessageSender">
<!--        <constructor-arg ref="emailService"/>-->
        <constructor-arg ref="messageService" />
        <constructor-arg value="Message from xml"/>
<!--        <property name="message" value="Message from xml"/>-->
    </bean>
</beans>